@import url(normalize.css);

@font-face {
    font-family: IranSans-Regular;
    src: url(../font/IRANSansWeb-Regular.ttf);
}

@font-face {
    font-family: IranSans-Light;
    src: url(../font/IRANSansWeb-Light.ttf);
}

@font-face {
    font-family: IranSans-Bold;
    src: url(../font/IRANSansWeb-Bold.ttf);
}

:root {
    --first-color: #2a2438;
    --second-color: #5c5470;
    --head-color: #FFF;
    --container-color: #352f44;
    --background-color: #dbd8e3;
}

html {
    font-size: 65.5%;
    direction: rtl;
    background-color: var(--background-color);
}

h1,
h2 {
    font-size: 3rem;
    font-family: IranSans-Bold;
    text-align: center;
    color: var(--head-color);
}

h2 {
    font-size: 2rem;
    text-align: right;
}

p {
    font-size: 1.6rem;
    font-family: IranSans-Regular;
    line-height: 1.5;
    text-align: justify;
    color: var(--head-color);
    margin: 0;
}

.btn {
    background: var(--second-color);
    border-radius: 999rem;
    box-shadow: var(--second-color) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--head-color);
    cursor: pointer;
    font-family: IranSans-Light;
    font-size: 1.4rem;
    line-height: 2.4rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 0.8rem 1.8rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.start__btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.del__btn {
    font-size: 1.2rem;
    font-family: IranSans-Light;
    background-color: var(--first-color);
    margin-left: 1rem;
}

.edt__btn {
    font-size: 1.2rem;
    font-family: IranSans-Light;
    background-color: var(--first-color);
}

.sort__date__btn, .sort__name__btn {
    font-size: 1rem;
    font-family: IranSans-Light;
    padding: 0.3rem 1.3rem;
    background-color: var(--first-color);
}

@media screen and (max-width: 1660px) {
    .btn {
        font-size: 1.2rem;
    }
}

.input {
    width: 25%;
    height: auto;
    border-radius: 3rem;
    border: 0;
    font-family: IranSans-Light;
    font-size: 1.6rem;
    padding: 1%;
}

@media screen and (max-width: 1500px) {
    .input {
        padding: 2%;
    }
}

@media screen and (max-width: 768px) {
    .input {
        padding: 3%;
    }
}

.container {
    background-color: var(--container-color);
    margin: 1% 15%;
    padding: 1% 3%;
    border-radius: 3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.item {
    background-color: var(--container-color);
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.task__list {
    list-style: none;
    padding-right: 0;
}
.list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.8rem;
    margin-bottom: 2rem;
    background: var(--second-color);
    border-radius: 999rem;
    box-shadow: var(--second-color) 0 10px 20px -10px;
    box-sizing: border-box;

}

.task__input {
    width: 75%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.task__alert {
    display: none;
}

.task__alert-on {
    display: block;
    color: red;
    font-family: IranSans-Light;
    margin: 0.7rem 0;
}

@media screen and (max-width: 1500px) {
    .task__input {
        width: 100%;
        margin-bottom: 1.2rem;
        margin-left: 0;
    }

    .item {
        flex-wrap: wrap;
    }
}

.hidden {
    display: none;
}

.compeleted__task {
    text-decoration: line-through;
    color: #dfdfdf;
}

.title__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.start__date {
    color: #dfdfdf;
    font-family: IranSans-Light;
    font-size: 1.2rem;
    margin-right: 2rem;
}